* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    /* 100% = 16px */
}

/* Tablet, celular horizontal y Desktop */

@media only screen and (min-width: 600px) {

    html {
        font-size: 1.2rem;
    }

}

/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Estilos Generales */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

main {
    background-color: hsla(0, 5%, 91%);
}

header, footer {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    color: #F6F5F5;
}

.logo {
    width: 5rem;
}

.brand-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

/* Estilos de la primera sección */

.first-section {
    background-color: #D3E0EA;
    font-size: 1rem;
    padding-top: 1rem;
}

h1 {
    font-size: 2rem;
}


/* Estilos timer */
.time {
    margin-top: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    max-width: fit-content;
}

.start-button{
    border-radius: .5rem;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

/* Estilos texto y textarea */

.game-container {
    background-color: #5f9eb9;
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 2rem;
}

.text-display {
    padding-bottom: 1rem;
    color: #F6F5F5;
    text-align: justify;
}

.text-input {
    background-color: #D3E0EA;
    border: 2px solid #437f98;
    outline: none;
    width: 100%;
    margin: auto;
    resize: none;
    padding: .5rem;
    border-radius: .5rem;

}

.text-input:focus {
    border-color: black;
}

/* Estilos area puntaje */
.score-container {
    background-color:#5f9eb9;
    color: #F6F5F5;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-radius: .5rem;
}

/* Estilos user input text */
.username {
    font-size: 1.1rem;
    width: 10rem;
    margin: .5rem 0;
}


/* Estilos leaderboard */
h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color:#5f9eb9;
    color: #F6F5F5;
    padding: 1rem;
    border-radius: .5rem;
}

.high-scores-container {
    margin: 1rem 0;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
}

.high-scores-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: .5rem;
}

.high-score {
    font-size: 1.2rem;
    padding: 0.5rem 0rem;
    border-bottom: 0.1rem solid #56a5eb;
}

.high-score:hover{
    transform: scale(1.1);
}

.btn{
    font-size: 1.1rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin: .5rem 0;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    color: #56a5eb;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* Modificaciones a estilos de Sweet Alert*/
.swal-button {
    background-color: #2C5364 !important;
}